<div class="container mt-4">
  <div class="row mbr-justify-content-center">
    <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap" routerLink="/veiculos">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-car fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Veículos</h2>
                <p>Gerencie a frota dos veículos, gastos com combustível e manutenção.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap" routerLink="/saidas">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-road fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Saídas</h2>
                <p>Monitore e gerencie as saídas diárias e rotas da frota de veículos.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap" routerLink="/reservas">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-calendar fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Reservas</h2>
                <p>Monitore as solicitações de reserva da frota de veículos e condutores.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap" routerLink="/usuarios">
            <div class="ico-wrap">
                <span class="mbr-iconfont fa-users fa"></span>
            </div>
            <div class="text-wrap vcenter">
                <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Usuários</h2>
                <p>Gerencie e monitore os usuários e condutores da frota de veículos.</p>
            </div>
        </div>
    </div>
</div>
</div>
